In [1]:
# define a list 
L = [1,2,3,4,5,6,7,8,9,10]
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
L[4]

5

In [3]:
L.append(1)

In [4]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

In [5]:
L.extend([2 ,3, 3])

In [6]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 3]

In [7]:
T = tuple(L)

In [8]:
T

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 3)

In [10]:
T[0] = 8

TypeError: 'tuple' object does not support item assignment

In [11]:
L[0] = 8

In [12]:
L

[8, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 3]

In [13]:
S = set(L)

In [15]:
S

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
S[5]

TypeError: 'set' object is not subscriptable

In [17]:
L

[8, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 3]

In [21]:
x = 42

In [22]:
id(x)

8886632

In [23]:
2id(42)

8886632

In [ ]:
IP: "2 + 3 * 4"
OP: "14", "2 + (3 * 4)", ...

In [39]:
math_expression = "21+313*4111"

math_expression

'21+313*4111'

In [43]:
items = ['_']

for i in range(len(math_expression)):
    
    current_char = math_expression[i]

    if current_char == "+" or current_char == "*":
        items.append(current_char)
        items.append('_')
    else:
        for k in range(len(items[i])):
            print(current_char)
            new_item = ''.join([items[k], str(current_char)])
            items[k] = new_item
            print(items)

items

2
['_2']

IndexError: list index out of range